.accordian-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
  
}
.accordian-title h2, .accordian-title span{
    font-size: 20px ;
    font-weight: 600 ;
    line-height: 28px;
    color:#1C1C1C ;
}
.item{
    border-bottom:1px solid #D7D7D7;
    margin-bottom: 3rem;
}
.item:nth-child(5){
    border-bottom:0;
}
.content{
    max-height: 0;
    overflow: hidden;
    color:#617275;
   
}
.show{
    height:auto;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    max-height: 99999px;
    padding-bottom: 15px;
    transition: all 0.5s cubic-bezier(0,1,0,1);
   
}